.friendCard {
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(540px / 5);
  padding: 10px;
}

.friendName {
  font-size: 25px;
}

.online {
  font-size: 20px;
  color: green;
}

.offline {
  font-size: 20px;
  color: red;
}
